# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
venv/
.env/
.venv/
*.env

# Jupyter
.ipynb_checkpoints/

# Data & modèles lourds (on garde des .gitkeep pour les dossiers vides)
data/raw/*
data/processed/*
models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep